body{
    background-color: #387478;
}
.saibamais{
    width: 150px;
    height: 35px;
    padding: 5px;
    display: block;
    margin-left: 50%;
    margin-top: 40px;
    transition: transform 0.1s;
}
a{
    text-decoration: none;
    color: #243642;
}
a:hover{
    color: blue;
}
.links{
   color: black; 
   list-style-type: none;
   padding: 5px;
   display: inline-block;
   cursor: pointer;
}

input {
    color:  #243642; 
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 4px; 
    outline: none; 
    background-color: #387478;
}
input::placeholder {
    color: black;
}
label{
    color: black;
}

input:focus {
    color: blue;
    border-color: green;
}
input[type="checkbox"] {
    accent-color: green;
}
button {
    padding: 10px 15px;
    background-color: #243642;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.enviar{
    margin-left: 50%;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
}
.imagens_ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.imagens_ul img{
    width: 300px;
    height: 400px;
    padding: 8px;
    border-radius: 10px;
}
.imagens_ul li:nth-child(odd){
    background-color: #243642;
    border: 2px solid;
    border-radius: 10px;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
form{
    display: block;
    width: 450px;
    height: 250px;
    border: 2px solid  #243642;
    border-radius: 5px;
    background-color: #387478;
}
.principal{
    display: block;
    text-align: center;
}
.principal p:first-child{
    font-weight: bold;
}
.principal p:last-child{
    font-style: italic;
}
.saibamais:active{
    transform: scale(0.80);
}
.meus-paragrafos p:not(.important) {
    color: red;
    font-weight: bold;
}
.meus-paragrafos .important {
    color:  #243642; 
    font-weight: normal;
}
